*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --myFirstFont:'Fraunces',sans-serif;  
    --mySecondFont:'Barlow',sans-serif;
}
body{
    background-color: hsl(0, 100%, 100%);
    color:hsl(212, 27%, 19%);
    font-size: 18px;
    line-height: 1.2;
    min-height: 100vh;
}
.header{
    width: 100%;
    border-radius: 3px;
    box-shadow: inset 3px 4px 9px hsl(210, 4%, 67%);
    min-width: 630px;
    min-height: 700px;
    background-image: url('images/image-header.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size:  cover;
}
nav{
    padding:5px;
    display: flex;
    align-items: center;
}
nav ul {
    padding: 10px;
    list-style-type: none;
}
li a{
    text-decoration: none;
    padding:20px;
    color:hsl(0, 100%, 100%);
    font-family:var(--mySecondFont);
    font-size:1em;
    font-weight: 600;
}
.left-side img{
    padding: 15px;
    object-fit: cover;
    min-height: 60px;
    object-position: center;
}
.left-side{
    padding:1em;
}
.right-side{
    margin-left: auto;
    display: flex;
    margin-right: 30px;
    padding-right: 30px;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}
.btn-link{
    cursor: pointer;
    background-color: hsl(0, 100%, 100%);
    font-size: 1em;
    color:hsl(212, 27%, 19%);
    font-family: var(--myFirstFont);
    text-transform: uppercase;
    text-align: center;
    border-radius: 25px 25px;
    font-weight: bold;
    margin-left: 10px;
    border: none;
    padding:15px 20px;
    transition: background-color 0.3s ease-in-out;
}
.btn-link:hover{
    background-color:rgba(115, 181, 213, 0.784);
    opacity: 0.8;
    color:hsl(0, 100%, 100%);
    font-weight: bold;
}
.container{
    padding:2em;
    margin-top: 30px;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-h1{
    color:hsl(0, 100%, 100%);
    font-family: var(--myFirstFont);
    font-weight: bold;
    font-size:2.7em;
    padding:1em;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.img-fluid{
    padding:2em 1em;
    margin-top: 10px;
    object-fit: cover;
    object-position: center;
}
.main{
    width: 100%;
    min-width: 1020px;
    height: auto;
}
.container-grid{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-row-gap:3px;
}
.section1{
    width: 100%;
    min-height: 500px;
    border: 1px solid gainsboro;
    box-shadow: 3px 4px 6px gray;
    padding: 2em 1em;
}
.container-fluid{
    display: flex;
    padding:1em 0em;
    flex-direction: column;
    align-items: flex-start;
    margin-left:10px;
    justify-content: flex-start;
}
.h3-text{
    color:hsl(212, 27%, 19%);
    padding:1em;
    font-size:3em;
    font-family:var(--myFirstFont);
    font-weight: bold;
    text-wrap: pretty;
    line-height: 1.1;
    letter-spacing: 3px;
    
}
.paragraf-text{
    color:hsl(232, 10%, 55%);
    font-size:0.8em;
    font-weight: bold;
    text-align: left;
    text-wrap: balance;
    font-family:var(--mySecondFont);
    max-width: 400px;
    margin-bottom: 10px;
    line-height:1.4;
    margin-left:30px;
    padding-left:25px;
}
.link{
    text-transform: uppercase;
    color:hsl(212, 27%, 19%);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-family: var(--myFirstFont);
    font-size: 1.2em;
    border-bottom: 5px solid hsl(51, 100%, 49%);
    border-radius:5px;
}
.link:hover{
    border-radius: 25%;
    cursor: pointer;
}
.wrapper-link{
    margin: 20px 0px 15px 30px;
    padding-left: 25px;
}
.section2{
    width: 100%;
    padding: 10px;
    min-height: 500px;
    background-image: url('images/image-transform.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section3, .section5{
    min-height: 500px;
    background-image: url('images/image-stand-out.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section4{
    width: 100%;
    min-height: 500px;
    border: 2px solid gainsboro;
    padding: 2em 1em;
}
.section5, .section6{
    background-image: url('images/image-graphic-design.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}
.section6{
    background-image: url('images/image-photography.jpg');
    background-position: center;
    width: 100%;
    min-height: 500px;
}
.section4 .container-fluid{
    padding: 2em 3em;
}
.section4>.h3-text
{
    font-size: 2.5em;
}
.section4>.paragraf-text{
    margin-left: 20px;
    margin-top: 10px;
}
.section4 .link{
    border-bottom: 10px solid hsl(7, 99%, 70%);
}
.container-section{
    display: flex;
    padding: 0.5em;
    min-height: 400px;
    margin-top: 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap:20px;
}
.section6 .container-section{
    padding:5px;
    margin-top: 0;
    min-height: 400px;
}
.h3-lead{
    color:hsl(167, 40%, 24%);
    padding:10px;
    font-family: var(--myFirstFont);
    font-size:2em;
}
.p-lead{
    text-align: center;    
    font-size:1em;
    line-height: 1.4;
    color:hsl(167, 40%, 24%);
    text-wrap: balance;
    font-weight: 600;
    font-family: var(--mySecondFont);
}
.paragraf-wrapper{
    width: 75%;
    padding:1px;
}
.section6 .h3-lead{
    color:hsl(198, 62%, 26%);
}
.section6 .p-lead{
    color:hsl(198, 62%, 26%);
    font-size: 1em;
}
.section6 .paragraf-wrapper{
    width: 50%;
}
.article{
    width:100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: flex-start;
    padding:2em 1em;
    margin:30px auto;
}
.article>h3{
    padding:1em;
    text-align: center;
    margin:30px auto;
    text-transform: uppercase;
    color:hsl(210, 4%, 67%);
    font-family: var(--myFirstFont);
    letter-spacing: 3px;
    font-weight: bold;
}
.article-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
}
.wrapper{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    text-align: center;
    gap:20px;
}
.wrapper img{
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-bottom: 20px;
}
.wrapper .lead{
    color:hsl(213, 9%, 39%);
    font-weight: bold;
    font-size:1em;
    text-wrap: balance;
    line-height: 1.6;
    text-align: center;
    font-family: var(--mySecondFont);
    margin-bottom: 30px;
}
.h3-article{
    color:hsl(212, 27%, 19%);
    font-family: var(--myFirstFont);
    font-weight: bold;
    font-size: 1.1em;
}
.wrapper p{
    color:hsl(210, 4%, 67%);
    font-size: 1em;
    font-family: var(--mySecondFont);
    font-weight: bold;
}
.gallery{
    display: grid;
    margin-top: 30px;
    width: 100%;
    min-height: 400px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}
.gallery>div{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.gallery>.box1{
    background-image: url('images/image-gallery-milkbottles.jpg');
}
.gallery>.box2{
    background-image: url('images/image-gallery-orange.jpg');
}
.gallery>.box3{
    background-image: url('images/image-gallery-cone.jpg');
}
.gallery>.box4{
    background-image: url('images/image-gallery-sugarcubes.jpg');
}
.footer{
    width: 100%;
    min-height: 300px;
    background-color: hsl(167, 56%, 57%);
    opacity: 0.8;
    display: flex;
    padding:3em 1em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
}
.h3-footer{
    color:rgb(13, 73, 13);
    font-weight: bold;
    padding: 0.5em;
    font-size: 1.7em;
    font-family: var(--myFirstFont);
}
.footer-links{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-links a{
    text-decoration: none;
    color: rgb(13, 73, 13);
    font-family: var(--mySecondFont);
    font-weight: bold;
    transition: color 1s ease-in-out;
}
.footer-links a:hover{
    color: white;
}
.icons{
    padding: 2em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:25px;    
}
.icons i {
    padding: 5px;
    font-size:1.2em;
    transition: color 0.3s ease;
}
.icons i:hover{
    cursor: pointer;
    color:white;
}
#menu-bar{
    display: none;
}
.mobile-menu{
    display: none;
}
@media(max-width:1025px)
{
    .gallery{
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    } 
    .section6 .h3-lead{
        margin-top: 20px;
    }
    .section6 .container-section{
        min-height: 460px;
    }
}
@media(max-width:750px)
{
    body{
        width: 100%;
        overflow-x: hidden;
    }

    .right-side li:not(#menu-bar){
        display: none;
    }
    .header{
        position: relative;
        max-width: 100vw;
        min-width: 100%;
        background-image: url(images/mobile/image-header.jpg);
    }
    #menu-bar{
        display: inline-block;
        position: absolute;
        cursor: pointer;
        top:5%;
        margin-bottom: 20px;
        right: 0;
        transform: translate(-25%, 10%);
        color: white;
        font-size: 1.5em;
    }
    .container{
        padding:0.5em;
        min-height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }
    .text-h1{
        text-align: center;
    }
    .img-fluid{
        margin-top: 30px;
    }
    .container-grid{
        grid-template-columns: auto;
        grid-template-areas: 'a' 'b' 'c' 'd' 'e' 'f';
        grid-template-rows: repeat(auto-fit,minmax(200px, 400px));
    }
    .section2{
        grid-area: a;
        background-image: url('images/mobile/image-transform.jpg');
        width:100vw;
        position: relative;
        z-index: 4;
        overflow: hidden;
    }
    .section1{
        grid-area: b;
        width: 100vw;
        position: relative;
        z-index:3;
    }
    .container-fluid{
        min-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-fluid h3{
        font-size: 1.8em;
        text-align: center;
        font-weight: 900;
    }
    .container-fluid p {
        font-size: 1.1em;
        text-wrap: pretty;
        text-align: center;
        margin: 0;
    }
    .wrapper-link{
        margin-left:5px;
        padding-left: 3px;
    }
    .section3{
        grid-area: c;
        width: 100vw;
        background-image: url('images/mobile/image-stand-out.jpg');
    }
    .section4{
        grid-area:d;
        width: 100vw;
        padding: 0.5em;
    }
    .section4 .container-fluid{
        padding: 5px;
        justify-content: flex-start;
        gap:20px;
    }
    .section4 h3{
        font-size: 2em;
        font-weight: bold;
    }
    .section4 p{
        font-size: 1.2em;
        text-align: center;
        text-wrap: pretty;
    }
    .section5{
        grid-area: e;
        width: 100vw;
        background-image: url('images/mobile/image-graphic-design.jpg');
        min-height: 550px;
    }
    .container-section{
        min-height: 450px;
    }
    .paragraf-wrapper{
        width: 100%;
    }
    .section6{
        grid-area:f;
        width: 100vw;
        background-image: url('images/image-photography.jpg');
        min-height: 550px;
    }
    .section6 .paragraf-wrapper{
        width: 100%;
        font-size:1.2em;
    }
    .article{
        width: 100vw;
        margin:0;
        padding: 0;
    }
    .article-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .gallery{
        width: 100vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        min-height: 500px;
    }
    .box1{
        background-image: url('images/mobile/image-gallery-milkbottles.jpg');
    }
    .box2{
        background-image: url('images/mobile/image-gallery-orange.jpg');
    }
    .box3{
        background-image: url('images/mobile/image-gallery-cone.jpg');
    }
    .box4{
        background-image: url('images/image-gallery-sugar-cubes.jpg');
    }
    .footer{
        width: 100vw;
    }
    .h3-footer{
        font-size: 1.8em;
    }
    .footer-links{
        width: 100%;
        justify-content: space-around;
    }
    .icons{
        width: 100%;
        font-size: 1.3em;
        padding: 1em;
        align-items: center;
        justify-content: center;
    }
    .mobile-menu{
        position: fixed;
        left:5%;
        display: block;
        width: 90%;
        background-color: hsl(0, 100%, 100%);
        margin:40px auto;
        min-height: 250px;
    }
    .mobile-menu::after{
        content:'';
        position: absolute;
        display: inline-block;
        top:-50px;
        right:0;
        border-width: 30px;
        border-style: solid;
        border-color: transparent transparent transparent white;
        transform: rotate(45deg) translate(70%);
    }
    .mobile-menu ul{
        list-style-type: none;
        padding: 2em 1em;
    }
    .mobile-menu a{
        color:hsl(210, 4%, 67%);
    }
    .mobile-menu button{
        background-color: hsl(51, 100%, 49%);
        font-weight: bold;
    }
    .container-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:30px;
        align-items: center;
    }
     .mobile-menu.hidden{
    display: none;
    }
    .scrollable{
        overflow-y: hidden;
    }
    @media(max-width:400px)
    {
      html,body{
        overflow-x: hidden;
        max-width: 100%;
      }
       #menu-bar{
        top:5%;
        left:85%;
        transform: translate(-50%, 10%);
       }
    }
}